

body{
    font-family: YekanBakh;
    animation: nft 1s;
    -webkit-animation: nft 1s;
}

@font-face {
    font-family: YekanBakh;
    font-style: normal;
    font-weight: 900;
    src: url('../fonts/YekanBakh-Heavy.630c4fa4.woff') format('woff');
}
@font-face {
    font-family: YekanBakh;
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/YekanBakh-Medium.f7360956.woff') format('woff');
}

.w_inherit{
    width: inherit;
}

@keyframes nft {
    from {
        opacity: 0;
        transform: translateY(-30px);

}

    to {
        opacity: 1;
        transform: translateY(0);
    }
}